header * {
  margin: 0 !important;
}

header {
  padding: 1em;
  display: flex;
  align-items: center;
  height: 60px;
  background: #007bff;
}

header .left {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

header .left a {
  color: white;
  text-decoration: none;
}

header .left a:hover {
  color: white;
  text-decoration: none;
}

header .right * {
  color: black;
}

@media (max-width: 500px) {
  header .left {
    font-size: 16px;
  }
}
